@charset "utf-8";
/*Documento original CSS*/
/*Etiquetas HTML*/
body{
    background-color:#ffffff;
}
li{
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}
h2 {
    color:black;
    font: normal 16px arial;
}
h3 {
    color:#2d3e50;
    font: normal 22px arial;
    font-weight:bold;
}
h4 {
    color:#FFFFFF;
    font: normal 20px arial;
}
p{
    font-size: 17px;
}
/*Ids*/

#cabecera{
    background-color: #f11f1f;
    height: 150px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black ;
}
#container{
    max-width: 90%;
    margin: auto;
    background-color:white;
    min-height: 500px;
}
#contenidoPrin{
    border-radius: .5em;
    background-color:#FFFFFF;
    margin-right:30px;
    margin-left:30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    min-height: 500px;
    /*border: 1px solid;
    border-color: #2d3e50;*/
}
#imagen{
    float:right;
    max-width: 300px;
    margin-top: 50px;
}
#piePrin {
    background-color: #f11f1f;
    clear: both;
    margin-top: 30px;
    height: 150px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
}
#link-intereses{
    border-radius: .5em;
    background-color:#FFFFFF;
    margin-right:30px;
    margin-left:30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 50px;
    min-height: 500px;
}

/*Clases*/

.navegacionPrin{
    border-radius: 10px;
    list-style: none;
    background: #DCDCDC;
    padding:0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.navegacionPrin li a{
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
    color:black;
    padding:20px;
    display:block;
    border-radius: .5em;
}
.navegacionPrin li{
    display: inline-block;
    text-align: center;
    background-color: #DCDCDC;
    color:black;
}
.navegacionPrin li a:hover{
    background: #2d3e50;
    color: #f5f8fa;
    text-shadow: 0.1em 0.1em 0.2em black ;
}
.articulo1{
    border:0px solid;
    padding: 10px;
}
.subtitulo{
    text-align: center;
    font-size: 18px;
}
.column {
    float: left;
    width: 33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.titulo{
    text-align: center;
    font-size: 36px;
}
.tc-white{
   color:white;
}
.imagen{
    margin-top:100px;
    border-radius: 10px;
}
.icono-index{
    color:#f11f1f;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-pasatiempos{
    color:#f11f1f;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrado{
    text-align: center;
}
.tabla {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    font-size: 17px;
}
tr, td, th{ border: 1px solid grey;}
th{
    background-color: #f11f1f;
    color: white;
}
.titulo-lista{
    font-size: 20px;
}
.item-lista{
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 17px;
}
.formulario-contacto,input{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
.formulario-contacto{
    border: 1px solid grey;
}